.error-main {
    margin: 10px 15%;
    font-size: 1.3rem;
}

.error-styled {
    display: grid;
    justify-content: center;
    background-color: black;
    position: relative;
    align-items: center;
    margin: 10vh 0;
    padding: 2rem;
}

.error-styled * {
    text-align: center;
}

.homepage-error {
    font-weight: 700;
    color: rgb(209, 255, 25);
}